.features {
  padding-bottom: 94px;
  padding-top: 94px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.features__list {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.features__item {
  margin-bottom: 30px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 226px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features-list__title {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.features-list__text {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 120px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    height: 120px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    background-color: #f5f4fa;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
  }
}

.features-box__icon {
  display: flex;
}
