.footer {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--tertriary-background-color);

  @media screen and (min-width: 768px) {
    padding-top: 0px;
    padding-bottom: 60px;
  }
}

.footer-main {
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer-logo {
  margin-right: 0px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 165px;
    margin-left: 65px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px;
    text-align: left;
  }
}

.footer-logo__link {
  color: var(--primary-backgroung-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    display: block;
    margin-bottom: 20px;
    text-align: left;
  }
}

.footer-adress__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.footer-logo__white {
  font-family: 'Raleway';
  color: var(--accent-color);
}

.footer-adress__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.footer-adress__maps {
  font-style: normal;
  color: var(--primary-backgroung-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.footer-adress__mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.footer-adress__number {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    display: inline-block;
  }

  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.footer-icons__invite {
  color: var(--primary-backgroung-color);
  margin-bottom: 20px;
  font-style: Bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: center;
    margin-top: 65px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-icons__list {
  display: flex;
  align-items: baseline;
}

.footer-icons__item {
  display: flex;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}

.footer-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 44px;
  height: 44px;

  &:hover,
  &:focus {
    background-color: #2196f3;
  }

  @media screen and (min-width: 480px) {
    width: 44px;
    height: 44px;
  }
}

.footer-icons__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--primary-backgroung-color);
}

.footer-form {
  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}

.footer-form__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-backgroung-color);
  margin-bottom: 20px;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-form__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-form__input {
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  background-color: rgba(47, 48, 58, 1);
  outline: transparent;
  color: var(--primary-backgroung-color);
  padding-left: 16px;

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 50px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    height: 50px;
    margin: 0 12px 0 0;
  }
}

.footer-form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;

  border: 4px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 1);
  /* margin-right: 10px; */

  @media screen and (min-width: 480px) {
    width: 200px;
    height: 50px;
  }

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.footer-form__icon {
  margin-left: 10px;
}
