.menu-button {
  position: relative;
  z-index: 100;
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon-open {
  opacity: 1;
}

.menu-button.is-open .menu-icon-open {
  opacity: 0;
}

.menu-icon-close {
  opacity: 0;
}

.menu-button.is-open .menu-icon-close {
  opacity: 1;
}

.menu {
  position: fixed;

  display: flex;
  flex-direction: column;

  z-index: 1;
  top: 0;
  left: 0;
  padding: 40px;
  padding-top: 48px;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: 400ms;

  background-color: #ffffff;

  @media screen and (min-width: 768px) {
    display: none;
  }

  &.is-open {
    transform: translateX(0);
  }
}

.menu-nav__item {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 0;
  }
}

.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #212121;

  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.menu-contacts__item {
  margin-bottom: 32px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.menu-contacts__link {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.menu-contacts__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #757575;
}

.menu-contacts {
  margin-bottom: 64px;
  margin-top: auto;
}

.mobile-links {
  display: flex;
  flex-wrap: wrap;
}

.mobile__socials {
  display: flex;
  align-items: center;

  margin-right: 10px;

  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.menu_current {
  color: #2196f3;
}

.mobile__links:not(:last-child) {
  .line::after {
    margin-left: 10px;
    content: '';
    display: block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
