/*--------------------------Кнопки-фильтр---------------------------*/

.information {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.information-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    margin-left: 79px;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.information-list__item {
  margin-right: 8px;
  padding-bottom: 15px;

  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1200px) {
  }
}

.information-list_btn {
  background-color: var(--secondary-background-color);
  padding: 6px 22px 6px 22px;
  font-family: inherit;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--primary-backgroung-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:last-child {
    margin-right: 0px;
  }
}

/*-------------------------Карточки-портфолио----------------*/

.information-cards__list {
  display: flex;
  flex-wrap: wrap;

  & .information-cards__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  & .information-cards__item:hover .information-cards__label {
    transform: translateY(0);
  }

  @media screen and (min-width: 768px) {
    margin: -15px;
    // gap: 30px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.information-cards__link {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
  }
}

.information-cards__item {
  width: 450px;
  margin: 0px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin: 15px;
    display: flex;
    width: 354px;
    height: 440px;
    // gap: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;

    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.information-cards__portfolio {
  position: relative;
  overflow: hidden;
}

.information-cards__img {
  width: 450px;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
  }
}

.information-cards__label {
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-backgroung-color);
  top: 0;
  left: 0;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.information-cards__icon {
  padding: 20px 24px 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }

  @media screen and (min-width: 1200px) {
  }
}

.information-cards__type {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}

.information-cards__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1, 87;
  letter-spacing: 0.03em;
}
