body {
  background-color: #ffffff;
  font-family: $roboto;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px dashed #f44336; */

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
